.App {
  padding: 20px;
}

.Player {
  width: 100%;
}

.Strip-container {
  width: 100%;
  overflow-x: scroll;
}

.Strip {
  width: 10000px;
  height: 20px;
  display: flex;
}

.Strip-segment {
  flex: 1 1 0px;
}

.Strip-axis {
  flex: 1 1 0px;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
}